<div class="query-info">
  {{#if query}}
    <p><em class="muted">Showing {{currentPage.length}} {{pluralize-word 2 phrase="result{ |s}"}} of {{length}} for {{query}}</em></p>
  {{else}}
    <p><em class="muted">No query</em></p>
  {{/if}}
</div>

{{#if query}}
  <div class="results">

    {{#each result in currentPage itemController="search-result"}}
      <div {{bind-attr class="resultType :col-lg-3 :col-md-4 :col-sm-6 :result"}}>
        <div class="box">
          <div class="result-type"><div class="circle"></div> {{resultType}}</div>
          <img class="cover" {{bind-attr src=result.artworkUrlWithDefault }}>
          <div class="title"><small> {{ result.name }}</small></div>
        </div>
      </div>

    {{/each}}
  </div>
{{/if}}


