<div class="query-info">
  {{#if query}}
    <p><em class="muted">Showing {{currentPage.length}} {{pluralize-word 2 phrase="result{ |s}"}} of {{length}} for {{query}}</em></p>
  {{else}}
    <p><em class="muted">No query</em></p>
  {{/if}}
</div>

{{#if query}}
  <div class="results">

    {{#each result in currentPage}}
      {{render "search-result" result}}
    {{/each}}
  </div>
{{/if}}


